# Build stuff
/build/
/backup/
/.cache/
/compile_commands.json

# Dev-only includes
/a.out

# GUI dev files
/gui/preload.js

# Misc
/makepkg.si
/notes.md
/include/a.out
/include/filetest
/include/idtest.cpp
/include/test.cpp
/include/part_no_1
/include/test3.cpp
